.color{
  background-color: #ffffff;
  color: #00ff00;
}

.cell{
  display: inline;
  float: left;
  /*border: solid 1px red;*/
  color: #fff;
  background-color: #666;
  width: 30px;
  height: 30px;
}

.row{
  /*border: solid 1px black;*/
  margin: 0 auto;
}

#canvas{
  padding-top: 60px;
  margin: 0 auto;
}

#q2dm1{
  margin: 0 auto;
  border: solid 1px #333;
}

#navbar{
  position: absolute;
  right: 0;
  width: 100%;
  padding: 15px 30px;
}