.cell{
  display: inline;
  float: left;
  /*border: solid 1px red;*/
  color: #fff;
  background-color: #666;
  width: 30px;
  height: 30px;
}

.wtf{
  display: inline;
  float: left;
  border: solid 1px #00ff00;
  width: 30px;
  height: 30px;
}

.cell:hover{
  background-color: #00ff00;
}

.row{
  /*border: solid 1px black;*/
  margin: 0 auto;
}

#canvas{
  margin: 0 auto;
}

#q2dm1{
  margin: 0 auto;
  border: solid 1px #333;
}
